body {
    overflow: hidden;
}

#skillbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 200px;
    background-color: #ffffff26;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#skill1 {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/mage.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: 2px solid black;
    float: left;
}

#skill2 {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/mage.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: 2px solid black;
    float: left;
}

#skill3 {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/mage.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: 2px solid black;
    float: left;
}

#skill4 {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/mage.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: 2px solid black;
    float: left;
}

#charInfo {
    position: absolute;
    left: 0;
    top: 0;
    height: 95px;
    width: 250px;
    background-color: #ffffff26;
}

#name {
    width: 130px;
    height: 20px;
    border: 2px solid black;
    margin: 10px;
    float: right;
}

#health {
    width: 130px;
    height: 10px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 8px;
    margin-bottom: 3px;
    float: right;
}

#actionbar {
    width: 130px;
    height: 10px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 0;
    float: right;
}

#roleIcon {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    margin: 10px;
    float: left;
}

#chat {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 400px;
    background-color: #ffffff26;
}

#playerMenu {
    position: absolute;
    right: 0;
    height: 365px;
    width: 50px;
    background-color: #ffffff26;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#roleSelection {
    height: 140px;
}

#dd {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/dd.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}

#tank {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/tank.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}

#heal {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/heal.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}

#knight {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/knight.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}

#mage {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/mage.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}

#archer {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/archer.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}

#warrior {
    height: 36px;
    width: 36px;
    background-image: url(../assets/icons/warrior.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
}